#detail{
    .head{
        height:0.32rem;
        background:#333;
        a{
        font-size:0.12rem;
        display:block;
        float:right;
        color:#efefef;
        line-height:0.32rem;
        padding-right:0.1rem
        }
    }
    .banner{
            position:relative;
            height:2.19rem;
            z-index:-1;
            background-color: #333;
            img{
                width:100%;
                height:2.13rem
            }
            h1{
                position:absolute;
                top:0.43rem;
                left:0.35rem;
                font-size:0.3rem;
                font-weight: 600;
                letter-spacing: 1px;
                text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
                color:#fff;

                span{
                    display: inline-block;
                    margin-right: 0.05rem;
                    margin-top: 0.04rem;
                    font-weight: normal;
                    font-size: 0.14rem;
                    vertical-align: top;
                    opacity: 0.8;
                }
            }
    }
    .con{
        width:3rem;
        height:5.87rem;
        margin:-0.6rem 0.1rem 0;
        background:#fff;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
        border: 1px solid #efefef;

        .top{
            padding: 0.1rem;
            font-size: 0.11rem;
            text-align: right;
            span{
            display:inlint-block;
            margin-left:0.05rem
            }
        }
        .center{
            padding:0.08rem;

            li{
            display:inline-block;
            margin-left: 0.1rem;
            margin-bottom: 0.1rem;
            height:.5rem;
            line-height:.5rem;
            text-align:center;
            font-size:0.18rem;
            font-weight:900;
            width:45%;
            border:1px solid #f66;
            background-color: #fff5f5;
            color: #f66;
        }

            span{
                display:inline-block;
                font-size:0.14rem;
                font-weight:normal;
            }
        }
        .bottom{
            margin-bottom: 0.15rem;
            ul{
                height:1.4rem;
                

                li{
                    display:inline-block;
                    width:.85rem;
                    height:.68rem;
                    overflow:hidden;
                    text-align: center;
                    vertical-align: top;

                    .bottom-t{
                        display: block;
                        margin-top: 0.05rem;
                        font-size: 0.2rem;
                        color: #09f;

                        span{
                            font-size: 0.1rem;
                            font-style: normal;                        
                        }
                    }
                    .bottom-b{
                    font-size:0.12rem
                    }
                }
            }
        }
    }
}